.characters__title {
  border-bottom: 1px solid #3f3f3f;
}

.characters__text {
  border: 1px solid #3f3f3f;
}

.characters__image {
  margin-left: 20px;
  margin: 15px 25px;
}

.characters {
  padding-left: 20px;
}

.characters__person {
  padding-left: 70px;
}
