.aside {
  width: 175px;
  height: 40px;
  margin: 0 100px 0 50px;
  border: 1px solid #222222;
  a {
    text-decoration: none;
  }
}

.aside__title {
  border: 1px solid #222222;
}

.aside__prev {
  border: 1px solid #222222;
}
