.page_wrapper {
  display: grid;
  width: 1264px;
  margin: 0 auto;
  padding-top: 24%;
  grid-template-areas:
    'header'
    'content'
    'footer';
  &_content {
    background-color: #ffffff;
  }
}
